[package]
name = "cargo-rdme"
description = "Cargo command to create your `README.md` from your crate's documentation"
version = "0.7.1-pre"
authors = ["Diogo Sousa <diogogsousa@gmail.com>"]

edition = "2021"
rust-version = "1.56.0"

homepage = "https://github.com/orium/cargo-rdme"
repository = "https://github.com/orium/cargo-rdme"
documentation = "https://docs.rs/cargo-rdme"
readme = "README.md"

keywords = [
    "readme", "cargo", "documentation"
]
categories = [
    "development-tools::cargo-plugins",
]

license = "MPL-2.0"

# What to include when packaging.
include = [
    "/src/**/*.rs",
    "/Cargo.toml",
    "/Cargo.lock",
    "/LICENSE.md",
    "/README.md",
    "/release-notes.md",
]

[badges]
codecov = { repository = "orium/cargo-rdme", branch = "master", service = "github" }

[dependencies]
toml = "0.5.8"
thiserror = "1.0.30"
syn = { version = "1.0.86", features = ["full", "extra-traits"] }
proc-macro2 = { version = "1.0.36", features = ["span-locations"] }
pulldown-cmark = "0.9.1"
itertools = "0.10.3"
clap = "3.2.11"
git2 = "0.14.0"
atty = "0.2.14"
termcolor = "1.1.2"
cargo_metadata = "0.15.0"

[dev-dependencies]
pretty_assertions = "1.1.0"
indoc = "1.0.3"

[features]
fatal-warnings = []
