[package]
name = "cargo-rdme"
description = "Cargo command to create your `README.md` from your crate's documentation"
version = "0.1.1-pre"
authors = ["Diogo Sousa <diogogsousa@gmail.com>"]

edition = "2021"
rust-version = "1.56.0"

homepage = "https://github.com/orium/cargo-rdme"
repository = "https://github.com/orium/cargo-rdme"
documentation = "https://docs.rs/cargo-rdme"
readme = "README.md"

keywords = [
    "readme", "cargo", "documentation"
]
categories = [
    "development-tools::cargo-plugins",
]

license = "MPL-2.0"

# What to include when packaging.
include = [
    "/src/**/*.rs",
    "/Cargo.toml",
    "/Cargo.lock",
    "/LICENSE.md",
    "/README.md",
    "/release-notes.md",
]

[badges]
codecov = { repository = "orium/cargo-rdme", branch = "master", service = "github" }

[dependencies]
toml = "0.5"
thiserror = "1"
syn = { version = "1", features = ["full", "extra-traits"] }
proc-macro2 = { version = "1", features = ["span-locations"] }
itertools = "0.10"
clap = "2"

[dev-dependencies]
pretty_assertions = "1"
indoc = "1"

[features]
fatal-warnings = []
