name: Release

on:
  release:
    types: [created]

jobs:
  release:
    name: release ${{ matrix.target }}

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target: [ x86_64-unknown-linux-musl,  x86_64-pc-windows-gnu ]

    steps:
      - uses: actions/checkout@master
      - name: Build release binary
        uses: rust-build/rust-build.action@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: ${{ matrix.target }}
          EXTRA_FILES: "README.md LICENSE.md"
