name: Release

on:
  release:
    types: [created]

jobs:
  release:
    name: release ${{ matrix.target }}

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            archive: tar.zst tar.bz2
          - target: x86_64-apple-darwin
            archive: tar.zst zip
          - target: x86_64-pc-windows-gnu
            archive: tar.zst zip

    steps:
      - uses: actions/checkout@v4

      - name: Build release binary
        uses: rust-build/rust-build.action@v1.4.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          TOOLCHAIN_VERSION: stable
          RUSTTARGET: ${{ matrix.target }}
          ARCHIVE_TYPES: ${{ matrix.archive }}
          EXTRA_FILES: "README.md LICENSE.md"
